<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/howto.css') }}">
        <title>How to Play</title>
    </head>
    <body>
        <div>
            <h1>Starting up</h1>
            <p>Once you enter the dungeon, look at the first message in the chatroom<br>
            The first message contains your player id. Enter it into the player id box<br></p>
            <h1>Playing the game</h1>
            <p>Everyone starts with 100 health and 20 strength<br>
            You can move by inputting n, s, e, w into the direction box<br>
            You can send messages to the other players in the message box<br>
            When you move into a location with another player, they lose health<br>
            equal to your strength. Once your health reaches 0 you will lose. <br>
            You will notice that objects randomly spawn. They will either buff or <br>
            debuff your character. Have fun!
        </p>
        </div>

    </body>
</html>